--
-- PostgreSQL database dump
--

\restrict EE6dPydJfPlLSCLIfQg1RhkbShWNlr7eV0tAmFT4kAY7RgR8sfBXUqweMZSx4oY

-- Dumped from database version 18.4
-- Dumped by pg_dump version 18.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: log_client_changes(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.log_client_changes() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    IF (TG_OP = 'INSERT') THEN

        INSERT INTO ClientAudit(ClientId, CompanyId, Action, ChangedBy, NewValue)

        VALUES (NEW.ClientId, NEW.CompanyId, 'INSERT', current_user, row_to_json(NEW));

        RETURN NEW;

    ELSIF (TG_OP = 'UPDATE') THEN

        INSERT INTO ClientAudit(ClientId, CompanyId, Action, ChangedBy, OldValue, NewValue)

        VALUES (NEW.ClientId, NEW.CompanyId, 'UPDATE', current_user, row_to_json(OLD), row_to_json(NEW));

        RETURN NEW;

    ELSIF (TG_OP = 'DELETE') THEN

        INSERT INTO ClientAudit(ClientId, CompanyId, Action, ChangedBy, OldValue)

        VALUES (OLD.ClientId, OLD.CompanyId, 'DELETE', current_user, row_to_json(OLD));

        RETURN OLD;

    END IF;

    RETURN NULL;

END;

$$;


ALTER FUNCTION public.log_client_changes() OWNER TO postgres;

--
-- Name: log_company_changes(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.log_company_changes() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    IF (TG_OP = 'INSERT') THEN

        INSERT INTO CompanyAudit(CompanyId, Action, ChangedBy, NewValue)

        VALUES (NEW.CompanyId, 'INSERT', current_user, row_to_json(NEW));

        RETURN NEW;

    ELSIF (TG_OP = 'UPDATE') THEN

        INSERT INTO CompanyAudit(CompanyId, Action, ChangedBy, OldValue, NewValue)

        VALUES (NEW.CompanyId, 'UPDATE', current_user, row_to_json(OLD), row_to_json(NEW));

        RETURN NEW;

    ELSIF (TG_OP = 'DELETE') THEN

        INSERT INTO CompanyAudit(CompanyId, Action, ChangedBy, OldValue)

        VALUES (OLD.CompanyId, 'DELETE', current_user, row_to_json(OLD));

        RETURN OLD;

    END IF;

    RETURN NULL;

END;

$$;


ALTER FUNCTION public.log_company_changes() OWNER TO postgres;

--
-- Name: log_message_changes(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.log_message_changes() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    IF (TG_OP = 'INSERT') THEN

        INSERT INTO MessageAudit(MessageId, CompanyId, Action, ChangedBy, NewValue)

        VALUES (NEW.MessageId, NEW.CompanyId, 'INSERT', current_user, row_to_json(NEW));

        RETURN NEW;

    ELSIF (TG_OP = 'UPDATE') THEN

        INSERT INTO MessageAudit(MessageId, CompanyId, Action, ChangedBy, OldValue, NewValue)

        VALUES (NEW.MessageId, NEW.CompanyId, 'UPDATE', current_user, row_to_json(OLD), row_to_json(NEW));

        RETURN NEW;

    ELSIF (TG_OP = 'DELETE') THEN

        INSERT INTO MessageAudit(MessageId, CompanyId, Action, ChangedBy, OldValue)

        VALUES (OLD.MessageId, OLD.CompanyId, 'DELETE', current_user, row_to_json(OLD));

        RETURN OLD;

    END IF;

    RETURN NULL;

END;

$$;


ALTER FUNCTION public.log_message_changes() OWNER TO postgres;

--
-- Name: log_reminder_changes(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.log_reminder_changes() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    IF (TG_OP = 'INSERT') THEN

        INSERT INTO ReminderAudit(ReminderId, CompanyId, Action, ChangedBy, NewValue)

        VALUES (NEW.ReminderId, NEW.CompanyId, 'INSERT', current_user, row_to_json(NEW));

        RETURN NEW;

    ELSIF (TG_OP = 'UPDATE') THEN

        INSERT INTO ReminderAudit(ReminderId, CompanyId, Action, ChangedBy, OldValue, NewValue)

        VALUES (NEW.ReminderId, NEW.CompanyId, 'UPDATE', current_user, row_to_json(OLD), row_to_json(NEW));

        RETURN NEW;

    ELSIF (TG_OP = 'DELETE') THEN

        INSERT INTO ReminderAudit(ReminderId, CompanyId, Action, ChangedBy, OldValue)

        VALUES (OLD.ReminderId, OLD.CompanyId, 'DELETE', current_user, row_to_json(OLD));

        RETURN OLD;

    END IF;

    RETURN NULL;

END;

$$;


ALTER FUNCTION public.log_reminder_changes() OWNER TO postgres;

--
-- Name: log_user_changes(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.log_user_changes() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    IF (TG_OP = 'INSERT') THEN

        INSERT INTO UserAudit(UserId, CompanyId, Action, ChangedBy, NewValue)

        VALUES (NEW.UserId, NEW.CompanyId, 'INSERT', current_user, row_to_json(NEW));

        RETURN NEW;

    ELSIF (TG_OP = 'UPDATE') THEN

        INSERT INTO UserAudit(UserId, CompanyId, Action, ChangedBy, OldValue, NewValue)

        VALUES (NEW.UserId, NEW.CompanyId, 'UPDATE', current_user, row_to_json(OLD), row_to_json(NEW));

        RETURN NEW;

    ELSIF (TG_OP = 'DELETE') THEN

        INSERT INTO UserAudit(UserId, CompanyId, Action, ChangedBy, OldValue)

        VALUES (OLD.UserId, OLD.CompanyId, 'DELETE', current_user, row_to_json(OLD));

        RETURN OLD;

    END IF;

    RETURN NULL;

END;

$$;


ALTER FUNCTION public.log_user_changes() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: clientaudit; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.clientaudit (
    auditid integer NOT NULL,
    clientid integer NOT NULL,
    companyid integer NOT NULL,
    action character varying(50) NOT NULL,
    changedby character varying(100),
    changedate timestamp without time zone DEFAULT now(),
    oldvalue jsonb,
    newvalue jsonb
);


ALTER TABLE public.clientaudit OWNER TO postgres;

--
-- Name: clientaudit_auditid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.clientaudit_auditid_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.clientaudit_auditid_seq OWNER TO postgres;

--
-- Name: clientaudit_auditid_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.clientaudit_auditid_seq OWNED BY public.clientaudit.auditid;


--
-- Name: clients; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.clients (
    clientid integer NOT NULL,
    companyid integer NOT NULL,
    firstname character varying(100) NOT NULL,
    lastname character varying(100) NOT NULL,
    email character varying(150),
    phone character varying(20),
    birthdate date NOT NULL
);


ALTER TABLE public.clients OWNER TO postgres;

--
-- Name: clients_clientid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.clients_clientid_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.clients_clientid_seq OWNER TO postgres;

--
-- Name: clients_clientid_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.clients_clientid_seq OWNED BY public.clients.clientid;


--
-- Name: companies; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.companies (
    companyid integer NOT NULL,
    companyname character varying(100) NOT NULL,
    contactemail character varying(150),
    contactphone character varying(20),
    createdat timestamp without time zone DEFAULT now(),
    updatedat timestamp without time zone DEFAULT now()
);


ALTER TABLE public.companies OWNER TO postgres;

--
-- Name: companies_companyid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.companies_companyid_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.companies_companyid_seq OWNER TO postgres;

--
-- Name: companies_companyid_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.companies_companyid_seq OWNED BY public.companies.companyid;


--
-- Name: companyaudit; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.companyaudit (
    auditid integer NOT NULL,
    companyid integer NOT NULL,
    action character varying(50) NOT NULL,
    changedby character varying(100),
    changedate timestamp without time zone DEFAULT now(),
    oldvalue jsonb,
    newvalue jsonb
);


ALTER TABLE public.companyaudit OWNER TO postgres;

--
-- Name: companyaudit_auditid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.companyaudit_auditid_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.companyaudit_auditid_seq OWNER TO postgres;

--
-- Name: companyaudit_auditid_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.companyaudit_auditid_seq OWNED BY public.companyaudit.auditid;


--
-- Name: messageaudit; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.messageaudit (
    auditid integer NOT NULL,
    messageid integer NOT NULL,
    companyid integer NOT NULL,
    action character varying(50) NOT NULL,
    changedby character varying(100),
    changedate timestamp without time zone DEFAULT now(),
    oldvalue jsonb,
    newvalue jsonb
);


ALTER TABLE public.messageaudit OWNER TO postgres;

--
-- Name: messageaudit_auditid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.messageaudit_auditid_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.messageaudit_auditid_seq OWNER TO postgres;

--
-- Name: messageaudit_auditid_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.messageaudit_auditid_seq OWNED BY public.messageaudit.auditid;


--
-- Name: messages; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.messages (
    messageid integer NOT NULL,
    reminderid integer NOT NULL,
    companyid integer NOT NULL,
    channel character varying(20) NOT NULL,
    subject character varying(255),
    messagebody text NOT NULL,
    attachmenturl text,
    attachmentfilename character varying(255),
    attachmentmimetype character varying(100),
    status character varying(20) DEFAULT 'Draft'::character varying,
    sentat timestamp without time zone,
    createdat timestamp without time zone DEFAULT now(),
    updatedat timestamp without time zone DEFAULT now(),
    CONSTRAINT chk_message_channel CHECK (((channel)::text = ANY ((ARRAY['Email'::character varying, 'WhatsApp'::character varying])::text[]))),
    CONSTRAINT chk_message_status CHECK (((status)::text = ANY ((ARRAY['Draft'::character varying, 'Queued'::character varying, 'Sent'::character varying, 'Failed'::character varying])::text[])))
);


ALTER TABLE public.messages OWNER TO postgres;

--
-- Name: messages_messageid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.messages_messageid_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.messages_messageid_seq OWNER TO postgres;

--
-- Name: messages_messageid_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.messages_messageid_seq OWNED BY public.messages.messageid;


--
-- Name: reminderaudit; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.reminderaudit (
    auditid integer NOT NULL,
    reminderid integer NOT NULL,
    companyid integer NOT NULL,
    action character varying(50) NOT NULL,
    changedby character varying(100),
    changedate timestamp without time zone DEFAULT now(),
    oldvalue jsonb,
    newvalue jsonb
);


ALTER TABLE public.reminderaudit OWNER TO postgres;

--
-- Name: reminderaudit_auditid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.reminderaudit_auditid_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.reminderaudit_auditid_seq OWNER TO postgres;

--
-- Name: reminderaudit_auditid_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.reminderaudit_auditid_seq OWNED BY public.reminderaudit.auditid;


--
-- Name: reminders; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.reminders (
    reminderid integer NOT NULL,
    companyid integer NOT NULL,
    remindermethod character varying(20) NOT NULL,
    status character varying(20) DEFAULT 'Pending'::character varying,
    timingtype character varying(20) DEFAULT 'Before'::character varying,
    timingvalue integer DEFAULT 1,
    timingunit character varying(10) DEFAULT 'Days'::character varying,
    sendtime time without time zone DEFAULT '09:00:00'::time without time zone,
    isactive boolean DEFAULT true,
    isrecurring boolean DEFAULT false,
    recurrencetype character varying(20),
    recurrenceinterval integer DEFAULT 1,
    nextrunat timestamp without time zone,
    lastsentat timestamp without time zone,
    clientid integer NOT NULL,
    reminderkind character varying(20) DEFAULT 'Birthday'::character varying,
    CONSTRAINT chk_reminder_recurrence_type CHECK (((recurrencetype IS NULL) OR ((recurrencetype)::text = 'yearly'::text))),
    CONSTRAINT chk_reminder_timing_type CHECK (((timingtype)::text = ANY ((ARRAY['Before'::character varying, 'OnDay'::character varying, 'After'::character varying])::text[]))),
    CONSTRAINT chk_reminder_timing_unit CHECK (((timingunit)::text = ANY ((ARRAY['Days'::character varying, 'Hours'::character varying])::text[])))
);


ALTER TABLE public.reminders OWNER TO postgres;

--
-- Name: reminders_reminderid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.reminders_reminderid_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.reminders_reminderid_seq OWNER TO postgres;

--
-- Name: reminders_reminderid_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.reminders_reminderid_seq OWNED BY public.reminders.reminderid;


--
-- Name: roles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.roles (
    roleid integer NOT NULL,
    rolename character varying(50) NOT NULL,
    description text
);


ALTER TABLE public.roles OWNER TO postgres;

--
-- Name: roles_roleid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.roles_roleid_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.roles_roleid_seq OWNER TO postgres;

--
-- Name: roles_roleid_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.roles_roleid_seq OWNED BY public.roles.roleid;


--
-- Name: useraudit; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.useraudit (
    auditid integer NOT NULL,
    userid integer NOT NULL,
    companyid integer NOT NULL,
    action character varying(50) NOT NULL,
    changedby character varying(100),
    changedate timestamp without time zone DEFAULT now(),
    oldvalue jsonb,
    newvalue jsonb
);


ALTER TABLE public.useraudit OWNER TO postgres;

--
-- Name: useraudit_auditid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.useraudit_auditid_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.useraudit_auditid_seq OWNER TO postgres;

--
-- Name: useraudit_auditid_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.useraudit_auditid_seq OWNED BY public.useraudit.auditid;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    userid integer NOT NULL,
    companyid integer NOT NULL,
    username character varying(100) NOT NULL,
    passwordhash character varying(255) NOT NULL,
    email character varying(150) NOT NULL,
    roleid integer NOT NULL,
    settings jsonb DEFAULT '{}'::jsonb
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_userid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_userid_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_userid_seq OWNER TO postgres;

--
-- Name: users_userid_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_userid_seq OWNED BY public.users.userid;


--
-- Name: clientaudit auditid; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clientaudit ALTER COLUMN auditid SET DEFAULT nextval('public.clientaudit_auditid_seq'::regclass);


--
-- Name: clients clientid; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clients ALTER COLUMN clientid SET DEFAULT nextval('public.clients_clientid_seq'::regclass);


--
-- Name: companies companyid; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.companies ALTER COLUMN companyid SET DEFAULT nextval('public.companies_companyid_seq'::regclass);


--
-- Name: companyaudit auditid; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.companyaudit ALTER COLUMN auditid SET DEFAULT nextval('public.companyaudit_auditid_seq'::regclass);


--
-- Name: messageaudit auditid; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.messageaudit ALTER COLUMN auditid SET DEFAULT nextval('public.messageaudit_auditid_seq'::regclass);


--
-- Name: messages messageid; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.messages ALTER COLUMN messageid SET DEFAULT nextval('public.messages_messageid_seq'::regclass);


--
-- Name: reminderaudit auditid; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reminderaudit ALTER COLUMN auditid SET DEFAULT nextval('public.reminderaudit_auditid_seq'::regclass);


--
-- Name: reminders reminderid; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reminders ALTER COLUMN reminderid SET DEFAULT nextval('public.reminders_reminderid_seq'::regclass);


--
-- Name: roles roleid; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles ALTER COLUMN roleid SET DEFAULT nextval('public.roles_roleid_seq'::regclass);


--
-- Name: useraudit auditid; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.useraudit ALTER COLUMN auditid SET DEFAULT nextval('public.useraudit_auditid_seq'::regclass);


--
-- Name: users userid; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN userid SET DEFAULT nextval('public.users_userid_seq'::regclass);


--
-- Data for Name: clientaudit; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: clients; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: companies; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: companyaudit; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: messageaudit; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: messages; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: reminderaudit; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: reminders; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.roles (roleid, rolename, description) FROM stdin;
1	Administrator	Full access including setup/security and role management
2	Staff	Can add clients, events, and edit day-to-day data but not setup/security
\.


--
-- Data for Name: useraudit; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: clientaudit_auditid_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.clientaudit_auditid_seq', 88, true);


--
-- Name: clients_clientid_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.clients_clientid_seq', 101, true);


--
-- Name: companies_companyid_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.companies_companyid_seq', 8, true);


--
-- Name: companyaudit_auditid_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.companyaudit_auditid_seq', 8, true);


--
-- Name: messageaudit_auditid_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.messageaudit_auditid_seq', 197, true);


--
-- Name: messages_messageid_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.messages_messageid_seq', 33, true);


--
-- Name: reminderaudit_auditid_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.reminderaudit_auditid_seq', 271, true);


--
-- Name: reminders_reminderid_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.reminders_reminderid_seq', 36, true);


--
-- Name: roles_roleid_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.roles_roleid_seq', 72, true);


--
-- Name: useraudit_auditid_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.useraudit_auditid_seq', 69, true);


--
-- Name: users_userid_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_userid_seq', 8, true);


--
-- Name: clientaudit clientaudit_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clientaudit
    ADD CONSTRAINT clientaudit_pkey PRIMARY KEY (auditid);


--
-- Name: clients clients_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clients
    ADD CONSTRAINT clients_pkey PRIMARY KEY (clientid);


--
-- Name: companies companies_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT companies_pkey PRIMARY KEY (companyid);


--
-- Name: companyaudit companyaudit_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.companyaudit
    ADD CONSTRAINT companyaudit_pkey PRIMARY KEY (auditid);


--
-- Name: messageaudit messageaudit_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.messageaudit
    ADD CONSTRAINT messageaudit_pkey PRIMARY KEY (auditid);


--
-- Name: messages messages_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_pkey PRIMARY KEY (messageid);


--
-- Name: reminderaudit reminderaudit_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reminderaudit
    ADD CONSTRAINT reminderaudit_pkey PRIMARY KEY (auditid);


--
-- Name: reminders reminders_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reminders
    ADD CONSTRAINT reminders_pkey PRIMARY KEY (reminderid);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (roleid);


--
-- Name: roles roles_rolename_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_rolename_key UNIQUE (rolename);


--
-- Name: useraudit useraudit_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.useraudit
    ADD CONSTRAINT useraudit_pkey PRIMARY KEY (auditid);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (userid);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: idx_clients_companyid; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_clients_companyid ON public.clients USING btree (companyid);


--
-- Name: idx_messages_companyid; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_messages_companyid ON public.messages USING btree (companyid);


--
-- Name: idx_messages_reminderid; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_messages_reminderid ON public.messages USING btree (reminderid);


--
-- Name: idx_messages_status_sentat; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_messages_status_sentat ON public.messages USING btree (status, sentat);


--
-- Name: idx_reminders_clientid; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_reminders_clientid ON public.reminders USING btree (clientid);


--
-- Name: idx_reminders_companyid; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_reminders_companyid ON public.reminders USING btree (companyid);


--
-- Name: idx_reminders_isrecurring; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_reminders_isrecurring ON public.reminders USING btree (isrecurring);


--
-- Name: idx_reminders_next_run_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_reminders_next_run_at ON public.reminders USING btree (nextrunat);


--
-- Name: idx_reminders_nextrunat; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_reminders_nextrunat ON public.reminders USING btree (nextrunat);


--
-- Name: idx_users_companyid; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_companyid ON public.users USING btree (companyid);


--
-- Name: idx_users_roleid; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_roleid ON public.users USING btree (roleid);


--
-- Name: clients trg_client_audit; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_client_audit AFTER INSERT OR DELETE OR UPDATE ON public.clients FOR EACH ROW EXECUTE FUNCTION public.log_client_changes();


--
-- Name: companies trg_company_audit; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_company_audit AFTER INSERT OR DELETE OR UPDATE ON public.companies FOR EACH ROW EXECUTE FUNCTION public.log_company_changes();


--
-- Name: messages trg_message_audit; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_message_audit AFTER INSERT OR DELETE OR UPDATE ON public.messages FOR EACH ROW EXECUTE FUNCTION public.log_message_changes();


--
-- Name: reminders trg_reminder_audit; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_reminder_audit AFTER INSERT OR DELETE OR UPDATE ON public.reminders FOR EACH ROW EXECUTE FUNCTION public.log_reminder_changes();


--
-- Name: users trg_user_audit; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_user_audit AFTER INSERT OR DELETE OR UPDATE ON public.users FOR EACH ROW EXECUTE FUNCTION public.log_user_changes();


--
-- Name: clientaudit fk_company; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clientaudit
    ADD CONSTRAINT fk_company FOREIGN KEY (companyid) REFERENCES public.companies(companyid) ON DELETE CASCADE;


--
-- Name: clients fk_company; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clients
    ADD CONSTRAINT fk_company FOREIGN KEY (companyid) REFERENCES public.companies(companyid) ON DELETE CASCADE;


--
-- Name: companyaudit fk_company; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.companyaudit
    ADD CONSTRAINT fk_company FOREIGN KEY (companyid) REFERENCES public.companies(companyid) ON DELETE CASCADE;


--
-- Name: messageaudit fk_company; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.messageaudit
    ADD CONSTRAINT fk_company FOREIGN KEY (companyid) REFERENCES public.companies(companyid) ON DELETE CASCADE;


--
-- Name: reminderaudit fk_company; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reminderaudit
    ADD CONSTRAINT fk_company FOREIGN KEY (companyid) REFERENCES public.companies(companyid) ON DELETE CASCADE;


--
-- Name: reminders fk_company; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reminders
    ADD CONSTRAINT fk_company FOREIGN KEY (companyid) REFERENCES public.companies(companyid) ON DELETE CASCADE;


--
-- Name: useraudit fk_company; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.useraudit
    ADD CONSTRAINT fk_company FOREIGN KEY (companyid) REFERENCES public.companies(companyid) ON DELETE CASCADE;


--
-- Name: users fk_company; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT fk_company FOREIGN KEY (companyid) REFERENCES public.companies(companyid) ON DELETE CASCADE;


--
-- Name: messages fk_message_company; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT fk_message_company FOREIGN KEY (companyid) REFERENCES public.companies(companyid) ON DELETE CASCADE;


--
-- Name: messages fk_message_reminder; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT fk_message_reminder FOREIGN KEY (reminderid) REFERENCES public.reminders(reminderid) ON DELETE CASCADE;


--
-- Name: reminderaudit fk_reminder; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reminderaudit
    ADD CONSTRAINT fk_reminder FOREIGN KEY (reminderid) REFERENCES public.reminders(reminderid) ON DELETE CASCADE;


--
-- Name: reminders fk_reminders_client; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reminders
    ADD CONSTRAINT fk_reminders_client FOREIGN KEY (clientid) REFERENCES public.clients(clientid) ON DELETE CASCADE;


--
-- Name: useraudit fk_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.useraudit
    ADD CONSTRAINT fk_user FOREIGN KEY (userid) REFERENCES public.users(userid) ON DELETE CASCADE;


--
-- Name: users fk_users_role; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT fk_users_role FOREIGN KEY (roleid) REFERENCES public.roles(roleid);


--
-- PostgreSQL database dump complete
--

\unrestrict EE6dPydJfPlLSCLIfQg1RhkbShWNlr7eV0tAmFT4kAY7RgR8sfBXUqweMZSx4oY

